<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr scope="row">
      <th colspan="2">Full name</th>
      <th colspan="2">Email</th>
      <th colspan="2">Phone</th>
      <th colspan="2">Twitter</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @friends.each do |friend| %>
      <% if friend.user == current_user %>
        <tr scope="row">
          <td colspan="2"><%= link_to friend.full_name, friend %></td>
          <td colspan="2"><%= friend.email %></td>
          <td colspan="2"><%= friend.phone %></td>
          <td colspan="2"><%= friend.twitter %></td>
          <td colspan="1"><%= link_to 'Destroy', friend, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Friend', new_friend_path, class: 'btn btn-secondary' %>
